<h1>Admin Dashboard</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Number of Products</th>
      <th scope="col">Number of Categories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @productCount %></td>
      <td><%= @categoryCount %></td>
    </tr>
  </tbody>
</table>